html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;     /* Zentriert horizontal */
    justify-content: flex-start;
}

h1 {
    margin: 10px 0;
}

#canvas {
    background-color: black;
    image-rendering: smooth;
}