.game-container {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.canvas {
  display: block;
}

.game-ui {
  position: absolute;
  top: 10px;
  right: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  z-index: 20;
}

.game-ui button {
  background-color: transparent;
}

.game-ui img {
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.pause-btn,
.sound-btn,
.end-game-btn {
  font-size: 16px;
  padding: 10px 22px;
}

.game-over-screen,
.win-screen {
  position: absolute;
  inset: 0;
  z-index: 50;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.game-over-screen img,
.win-screen img {
  width: 60%;
  height: auto;
}

.mobile-controls {
  position: absolute;
  left: clamp(6px, 2vw, 15px);
  bottom: clamp(6px, 2vw, 15px);

  display: grid;
  grid-template-columns: repeat(3, clamp(30px, 6vw, 50px));
  grid-template-rows: repeat(3, clamp(30px, 6vw, 50px));
  gap: clamp(3px, 0.8vw, 6px);

  z-index: 30;
}

.mobile-actions {
  position: absolute;
  right: clamp(8px, 2vw, 20px);
  bottom: clamp(10px, 3vw, 25px);

  display: flex;
  flex-direction: column;
  gap: clamp(8px, 2vw, 14px);

  z-index: 30;
}

.mobile-actions,
.mobile-controls {
  display: none;
}

@media (pointer: coarse) {
  .mobile-actions {
    display: flex;
  }

  .mobile-controls {
    display: grid;
  }
}

.touch-btn {
  touch-action: none;
}

.rotate-warning {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;

  padding: 10px 20px;

  border-radius: 10px;
  border: 1px solid #00cfff;

  background: rgba(0, 0, 0, 0.8);
  color: #00cfff;

  box-shadow: 0 0 8px rgba(0, 200, 255, 0.3);

  z-index: 9999;
  pointer-events: none;
}
